<app-header></app-header>

<div class="background">

  <div class="header-image">

  </div>

  <div class="center">
      <h1>Plans Tonight?</h1>
    <form class="form-horizontal" onsubmit="findCompany()">
      <div class="form-group row">
        <div class="col-lg-8 ml-5">
          <input type="text" class="form-control" id="name" placeholder="Restaurant, Club or Bar">
        </div>
        <div class="col-lg-3">
          <button class="btn btn-outline-success">Search</button>
        </div>
      </div>
    </form>
  </div>

</div>
