<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a routerLink="/home" class="navbar-brand">
    <img src="https://www.interiordesignerdecor.com/furniture/images/z3D-Bar-Table-1.png">
  </a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li *ngFor="let type of companyTypes" class="nav-item">
        <a routerLink="/companies/{{type.name}}" class="nav-link">{{type.name}}</a>
      </li>
    </ul>
    <div *ngIf="!(loggedAsUser || loggedAsOwner)">
      <button routerLink="/register" class="btn btn-primary">Sign up</button>
      <button routerLink="/login" class="btn btn-primary">Log in</button>
    </div>
    <div *ngIf="loggedAsUser || loggedAsOwner" class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-user"></i>
      </button>
      <div  class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a *ngIf="loggedAsUser" class="dropdown-item" routerLink="/profile">{{user.firstName}} {{user.lastName}}</a>
        <a *ngIf="loggedAsOwner" class="dropdown-item" routerLink="/dashboard">Dashboard</a>
        <a (click)="logoutUser()" class="dropdown-item">Logout</a>
      </div>
    </div>
  </div>
</nav>
