<app-header></app-header>

<div class="container" *ngIf="company">

  <div class="row">

    <div class="col-md-6">
      <p class="lead">{{company.description}}</p>
      <p>Location: {{company.address}}</p>
      <p>Capacity: {{company.capacity}}</p>
      <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#reservation-form">Reserve</button>
    </div>

    <div class="col-md-6">
      <div *ngFor="let image of company.images">
        <img class="img-fluid" src="{{image.imageUrl}}">
      </div>
    </div>

  </div>

</div>

<app-reservation-form [company]="company"></app-reservation-form>
<app-footer></app-footer>
