
<div id="reservation-form" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form class="form-horizontal" (submit)="reserve()">
      <div class="modal-header">
        <h4 class="modal-title">Make reservation</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label class="control-label col-sm-12" for="person-count">Number of seats:</label>
          <div *ngIf="!personCount || personCount<0" class="col-sm-12">
            <p class="alert alert-danger">Seat count cannot be empty.</p>
          </div>
          <div class="col-sm-12">
            <input id="person-count" [(ngModel)]="personCount" name="personCount" type="number" class="form-control" placeholder="Enter number of seats">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-12" for="remark">Remark:</label>
          <div class="col-sm-12">
            <textarea id="remark" [(ngModel)]="description" name="description" class="form-control" placeholder="Enter remark...">
            </textarea>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-12" for="date">Date:</label>
          <div class="input-group col-sm-12">

            <input id="date" class="form-control" placeholder="yyyy-mm-dd"
                   name="dp" [(ngModel)]="date" ngbDatepicker #d="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                <i class="far fa-calendar-alt"></i>
              </button>
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-default">Reserve</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" #closeDialog>Close</button>
      </div>
        <div *ngIf="success" class="alert alert-success">
          <strong>Success!</strong> Your reservation has been saved!
        </div>
      </form>
    </div>
  </div>
</div>

